In [1]:


import geopandas as gpd

gdf = gpd.read_parquet("data/Zensus2022_100m_poly_GER_wPLZ_wRS.parquet")

In [ ]:
gdf

In [3]:
gdf=gdf[gdf.Einwohner>0].copy()

In [4]:
gdf

,id,GITTER_ID_100m,ags,Einwohner,AnteilAuslaender,Durchschnittsalter,Unter18,a18bis29,a30bis49,a50bis64,...,a1979bis1990,a1991bis2000,a2001bis2010,a2011bis2019,a2020undspaeter,plz,geometry,gem_23_str,name_23,RegioStaR7
0,100mN27509E41617,CRS3035RES100mN2750900E4161700,08315130,4,0.0,46.180000,0,0,3,0,...,0.0,0.0,0.0,0.0,0.0,79244,"MULTIPOLYGON (((7.87235 47.85108, 7.87368 47.8...",08315130,Münstertal/Schwarzwald,74
1,100mN27373E42562,CRS3035RES100mN2737300E4256200,08335043,3,0.0,83.959999,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,78465,"MULTIPOLYGON (((9.1364 47.74591, 9.13773 47.74...",08335043,"Konstanz, Universitätsstadt",75
2,100mN28729E44475,CRS3035RES100mN2872900E4447500,09273164,4,0.0,89.919998,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,93339,"MULTIPOLYGON (((11.72696 48.95597, 11.72832 48...",09273164,"Riedenburg, St",74
3,100mN27710E43359,CRS3035RES100mN2771000E4335900,09778177,4,0.0,33.520000,0,3,3,0,...,NaN,NaN,NaN,NaN,NaN,87767,"MULTIPOLYGON (((10.19976 48.05239, 10.2011 48....",09778177,Niederrieden,77
4,100mN27821E43665,CRS3035RES100mN2782100E4366500,09778169,4,0.0,23.820000,3,0,3,0,...,NaN,NaN,NaN,NaN,NaN,86865,"MULTIPOLYGON (((10.6112 48.15076, 10.61255 48....",09778169,"Markt Wald, M",77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081323,100mN35070E45390,CRS3035RES100mN3507000E4539000,13073013,3,0.0,61.000000,0,0,0,0,...,0.0,0.0,3.0,0.0,0.0,18556,"MULTIPOLYGON (((13.37538 54.62318, 13.37693 54...",13073013,Breege,77
3081324,100mN35115E45379,CRS3035RES100mN3511500E4537900,13073004,10,0.0,67.000000,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,18556,"MULTIPOLYGON (((13.36168 54.66402, 13.36322 54...",13073004,Altenkirchen,77
3081325,100mN35121E45372,CRS3035RES100mN3512100E4537200,13073004,15,0.0,33.070000,5,0,7,3,...,0.0,0.0,0.0,0.0,0.0,18556,"MULTIPOLYGON (((13.35128 54.6697, 13.35283 54....",13073004,Altenkirchen,77
3081326,100mN34399E43709,CRS3035RES100mN3439900E4370900,01055039,17,0.0,46.599998,0,0,8,8,...,0.0,0.0,0.0,0.0,0.0,23730,"MULTIPOLYGON (((10.76198 54.06362, 10.7635 54....",01055039,Sierksdorf,77
3081327,100mN35097E42223,CRS3035RES100mN3509700E4222300,01054087,3,0.0,59.660000,0,0,0,0,...,0.0,0.0,0.0,3.0,0.0,25938,"MULTIPOLYGON (((8.47005 54.68382, 8.4716 54.68...",01054087,Nieblum,77

In [6]:
gdf.to_file("data/Zensus2022_100m_poly_GER_wPLZ_wRS_ew.fgb", driver="FlatGeobuf")

In [9]:
def fgb_to_pmtiles_layer( polys_fgb, output_pmtiles, layer_name):
    import subprocess
    from pathlib import Path

    subprocess.run([
        "tippecanoe", "-o", str(Path(output_pmtiles).resolve()),
        f"--layer={layer_name}-polys",
        "--minimum-zoom=9", "--maximum-zoom=10",
        "--force",
        "--no-feature-limit", "--no-tile-size-limit", "--force-feature-limit",
        str(Path(polys_fgb).resolve())
    ], check=True)


    print("✅ PMTiles created")

In [10]:
fgb_to_pmtiles_layer(
    polys_fgb="data/Zensus2022_100m_poly_GER_wPLZ_wRS_ew.fgb",
    output_pmtiles="data/Zensus2022_100m_poly_GER_wPLZ_wRS_ew_10.pmtiles",
    layer_name="rasters"
    )

detected indexed FlatGeobuf: assigning feature IDs by sequence
3081328 features, 718540192 bytes of geometry and attributes, 158645100 bytes of string pool, 0 bytes of vertices, 0 bytes of nodes
  99.9%  10/536/353

✅ PMTiles created